
@import "tailwindcss";
:root {
  --font-heading: 'Inter', system-ui;
  --font-body:    'Inter', system-ui;
}
h1, h2, .font-heading { font-family: var(--font-heading); }
body, p, .font-body { font-family: var(--font-body); }
